<!DOCTYPE html>
<html>
<head>
    <title>Timestamp API</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div class="object-container">
        <div class="unix">
            <h2 class="unix-header dates">
                Unix: <%= unix %>
            </h2>
        </div>
        <div class="date">
            <h2 class="date-header dates">
                Date: <%= date %> (MM/DD/YYYY)
            </h2>
        </div>
    </div>
</body>
</html>